---
import Navbar from "./Navbar.astro";
import "bootstrap/dist/css/bootstrap.min.css";
const strapi_url = import.meta.env.STRAPI_URL
---

<html lang="en" data-bs-theme="dark">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro BSO Test</title>
	</head>
	<body>
        <Navbar />
        
        <div class="container py-5">

            <slot />

        </div>

        <div id="api_url" data-url={strapi_url+"/api"}></div>
        
        <!-- Not Working -->
        <!-- <script define:vars={{ strapi_url }}>
            let api_url = strapi_url; 
        </script> -->
        <script>
            import 'bootstrap/dist/js/bootstrap.min.js';
        </script>
        <script is:inline src="assets/js/jquery-3.7.0.min.js"></script>
        <script is:inline src="scripts/main.js"></script>
	</body>
</html>
