
<div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="termsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="termsModalLabel">Terms and Conditions</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="mb-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, voluptatibus!
                    Dolores beatae fugit a consectetur aspernatur, expedita praesentium? Aut, suscipit?
                    Consectetur doloremque, veniam libero et accusantium unde provident est quam?
                    Maxime quisquam voluptatibus iusto sed officiis minima corporis, quo voluptate.
                    Magnam earum repellendus asperiores nulla ab repellat possimus saepe eius?
                    Similique assumenda nam dolore impedit aliquam deserunt minima iste magni?
                    Repudiandae quia laboriosam nisi adipisci accusantium molestias quibusdam alias libero?
                    Sed quibusdam corporis, doloribus nihil maiores consequuntur ipsum aliquam atque.
                    Incidunt sapiente est itaque minus impedit vel explicabo laborum quam!
                    Unde autem veritatis pariatur perferendis laudantium incidunt nobis repudiandae fugiat.
                </p>
                <p class="mb-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, voluptatibus!
                    Dolores beatae fugit a consectetur aspernatur, expedita praesentium? Aut, suscipit?
                    Consectetur doloremque, veniam libero et accusantium unde provident est quam?
                    Maxime quisquam voluptatibus iusto sed officiis minima corporis, quo voluptate.
                    Magnam earum repellendus asperiores nulla ab repellat possimus saepe eius?
                    Similique assumenda nam dolore impedit aliquam deserunt minima iste magni?
                    Repudiandae quia laboriosam nisi adipisci accusantium molestias quibusdam alias libero?
                    Sed quibusdam corporis, doloribus nihil maiores consequuntur ipsum aliquam atque.
                    Incidunt sapiente est itaque minus impedit vel explicabo laborum quam!
                    Unde autem veritatis pariatur perferendis laudantium incidunt nobis repudiandae fugiat.
                </p>
                <p class="mb-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, voluptatibus!
                    Dolores beatae fugit a consectetur aspernatur, expedita praesentium? Aut, suscipit?
                    Consectetur doloremque, veniam libero et accusantium unde provident est quam?
                    Maxime quisquam voluptatibus iusto sed officiis minima corporis, quo voluptate.
                    Magnam earum repellendus asperiores nulla ab repellat possimus saepe eius?
                    Similique assumenda nam dolore impedit aliquam deserunt minima iste magni?
                    Repudiandae quia laboriosam nisi adipisci accusantium molestias quibusdam alias libero?
                    Sed quibusdam corporis, doloribus nihil maiores consequuntur ipsum aliquam atque.
                    Incidunt sapiente est itaque minus impedit vel explicabo laborum quam!
                    Unde autem veritatis pariatur perferendis laudantium incidunt nobis repudiandae fugiat.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>